@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen&display=swap');

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{
    padding: 0;
    margin: 0;
}
.alert-danger
{
    color: #fff;
    text-align: center;
    background-color: red;
    border: none;
    height: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.alert-success
{
    color: #fff;
    text-align: center;
    background-color:green;
    border: none;
    height: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
}

body{
    font-family: 'Poppins', sans-serif;

}
.navbar{
    height: 70px;
}
 .head{
    font-size: 40px;
    color: #D63484 ;
    margin-right: 10px;
    padding: 0;
}
/* ul{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.nav-links{
    color: aliceblue;
    text-decoration: none;
    margin-right: 6px;
}

.login_user{
    /* background-color: rgb(240, 240, 63); */
    margin: 20px 0;
    padding: 3px;
}
.login_user h1{
  text-align: center;
  font-size: 30px;
}
.service-info{
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
.search-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 30px; */
  }

  .search-bar input{
    padding: 11px;
    width: 90%;

    /* margin-bottom: 10px; */
    border-radius: 20px;
    border: solid #D63484;
    font-size: 15px;
  }




.footer {
    position: relative;
    width: 100%;
    background: #070707;
    min-height: 100px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .select{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

  }
  .container_s {
    display: flex;
    width: 1040px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

  }
  .card{
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;


  }
  .card-header{
    margin: 0px;
    padding: 0px;
  }

  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 50px;
  }
  .card-body p {
    font-size: 14px;
    margin: 2 2 40px;
    color: black;
  }
  .user {
    display: flex;
    margin-top: auto;
  }

  .form-body{
    background-color: #ffff;
    margin: 0px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form {
    max-width: 600px;
    /* margin: 50px auto; */
    background-color:#ffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    -webkit-box-shadow: -2px 13px 30px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 13px 30px 0px rgba(0,0,0,0.75);
box-shadow: -2px 13px 30px 0px rgba(0,0,0,0.75);


}

h1 {
    text-align: center;
    color:#ee49b7;
    margin: 20px 0px;
    font-weight: bold;
    font-size: 40px;
}

p {
    font-size: 15px;

    color:rgb(29, 22, 22);
    margin-bottom: 28px;
    text-align: center;
    justify-content: center;
}

label {
    display: block;
    font-size: 18px;
    color:rgb(0, 0, 0);
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ee49b7;
    border-radius: 4px;
    font-size: 18px;
    background: transparent;
}


input[type="submit"] {
    background-color: #972270;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #721262;
}
input[type="checkbox"]{
    width: 30px;
    margin-right: 10px;
}

.form-body img{
    border-radius: 50%;
    width: 90px;
    height: 90px;

}
.tearm{
    display: flex;

    justify-content: flex-start;

    text-align: center;
    margin: 20px 0px;



}
.card-body h2{
    text-align: center;
    font-size: 20px;
}

.products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    /* align-items: center; */
    justify-content: center;
 }

 .products-preview .preview{
    display: none;
    padding:2rem;
    /* text-align: center; */
    background: rgb(255, 255, 255);
    position: relative;
    margin:0rem;
    width: 70%;

 }

 .products-preview .preview.active{
    display: inline-block;
 }



 .products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 2rem;
 }

 .products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
 }
 .venue{
     display: flex;
     align-items: center;

 }
 .left{
     flex: 1;
 }
 .left img{
     width: 80%;

 }
 .right{

    display: flex;
    flex-direction: column;

    flex: 1;

 }
 .right ul{
     display: flex;
     flex-direction: column;

     text-align: left;


 }
 .right ul li{
   list-style: none;
   display: flex;
   align-items: center;
   gap: 8px;
   margin: 5px 0;

 }
 .venue  .btn {
     background-color: rgb(233, 25, 139);
     color: white;
     border-radius: 3px;
     cursor: pointer;
 }
 .venue  .btn a{
      text-decoration: none;
     color: white;

 }
 .venue  .btn:hover {
     background-color: rgb(199, 23, 120);

 }













@media (max-width: 768px) {
    form {
        margin: 20px;
    }
}
